.query {
  color: var(--accent-11);
}

.resultContent {
  max-height: 300px;
  overflow-y: auto;
}

.resultContent::-webkit-scrollbar {
  width: 6px;
}

.resultContent::-webkit-scrollbar-track {
  background: transparent;
}

.resultContent::-webkit-scrollbar-thumb {
  background: var(--gray-a5);
  border-radius: 3px;
}

.resultContent::-webkit-scrollbar-thumb:hover {
  background: var(--gray-a7);
}
