.filename {
  font-family: var(--code-font-family);
  font-size: inherit;
  color: var(--accent-11);
  cursor: pointer;
}

.args {
  color: var(--gray-11);
  font-family: var(--code-font-family);
  font-size: inherit;
}

.filename:hover {
  text-decoration: underline;
}

.resultContent {
  max-height: 300px;
  overflow-y: auto;
}

.resultContent::-webkit-scrollbar {
  width: 6px;
}

.resultContent::-webkit-scrollbar-track {
  background: transparent;
}

.resultContent::-webkit-scrollbar-thumb {
  background: var(--gray-a5);
  border-radius: 3px;
}

.resultContent::-webkit-scrollbar-thumb:hover {
  background: var(--gray-a7);
}
