.taskDoneCard {
  border-left: 2px solid var(--green-9);
  padding-left: var(--space-2);
}

.successText {
  color: var(--green-11);
}

.content {
  padding: var(--space-2) 0;
}

.fileLink {
  color: var(--accent-11);
  cursor: pointer;
  text-decoration: underline;
}

.fileLink:hover {
  color: var(--accent-12);
}
