.treeNode {
  --left-padding: 12px;
  border-radius: var(--radius-2);
  height: 100%;
  width: calc(100% - var(--left-padding));
  box-sizing: border-box;
  cursor: pointer;
  margin-left: var(--left-padding);
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}
